<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8" />
        <title>Crear Usuario de Prueba | LDLN</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="boton-suscripcion.component.css"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body></body>
</html>
