body{
display: flex;
  flex-direction: row;
  align-content: center;
  background-color: #f0f0f0;
}

button{
  background: none;
  color: #f0f0f0;
  border: none;
  border-top-left-radius: 20px ;
  border-bottom-left-radius: 20px ;
}
span{
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}
img{
  height: 25px;
  width: 25px;
}
