<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="editar-video.component.css">
  <title>Editar Video - Apollo LDLN</title>
</head>

<body>

<app-header></app-header>

<div class="login-container">
  <form class="login-form" (submit)="editarVideo()">
    <h2>Subir Video</h2>

    <input type="text" id="titulo" name="titulo" placeholder="Titulo" [(ngModel)]="video.titulo" required>

    <input type="text" id="descripcion" name="descripcion" placeholder="Descripción" [(ngModel)]="video.descripcion" required>

    <h3>Tipo de Video</h3>
    <select type="text" id="tipo" name="tipo" placeholder="Tipo" [(ngModel)]="video.tipo" required>
      <option *ngFor="let tipo of tiposVideo">{{ tipo }}</option>
    </select>

    <h3>Etiquetas</h3>
    <select type="text" id="etiquetas" name="etiquetas" placeholder="Etiquetas" [(ngModel)]="video.etiquetas" multiple required size="13">
      <option *ngFor="let etiqueta of etiquetas">{{ etiqueta }}</option>
    </select>

    <input type="url" id="miniatura" name="miniatura" placeholder="Url de la miniatura" [(ngModel)]="video.miniatura" required>

    <button type="submit" id="subir-button">Editar Video</button>
  </form>

  <div class="modal" id="progress-modal">
    <div class="modal-content">
      <div class="progress-container">
        <div class="progress-bar" id="progress-bar">0%</div>
      </div>
    </div>
  </div>

</div>

</body>

</html>

