<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="subir-video.component.css">
  <title>Subir Video - Apollo LDLN</title>
</head>

<body>

<div class="navbar">
  <li class="logo">
    <a href="#">
      <img src="../../../assets/img/logoApolloSinBG.png" alt="Apollo Logo">
    </a>
  </li>
  <a href="#" class="buttons">Login</a>
</div>


<div class="login-container">
  <form class="login-form" (submit)="crearVideo()">
    <h2>Subir Video</h2>

    <input type="text" id="titulo" name="titulo" placeholder="Titulo" [(ngModel)]="video.titulo" required>

    <input type="text" id="descripcion" name="descripcion" placeholder="Descripción" [(ngModel)]="video.descripcion" required>

    <h3>Tipo de Video</h3>
    <select type="text" id="tipo" name="tipo" placeholder="Tipo" [(ngModel)]="video.tipo" required>
      <option *ngFor="let tipo of tiposVideo">{{ tipo }}</option>
    </select>

    <h3>Etiquetas</h3>
    <select type="text" id="etiquetas" name="etiquetas" placeholder="Etiquetas" [(ngModel)]="video.etiquetas" multiple required size="13">
      <option *ngFor="let etiqueta of etiquetas">{{ etiqueta }}</option>
    </select>

    <input type="datetime-local" id="fecha_publicacion" name="fecha_publicacion" placeholder="Fecha Publicación" [(ngModel)]="video.fecha_publicacion" required>

    <input type="url" id="url" name="url" placeholder="Url" [(ngModel)]="video.url" required>

    <button type="submit" id="subir-button">Subir</button>
  </form>

  <div class="modal" id="progress-modal">
    <div class="modal-content">
      <div class="progress-container">
        <div class="progress-bar" id="progress-bar">0%</div>
      </div>
    </div>
  </div>

</div>

</body>

</html>

