<footer class="footer">
    <tbody class="row">
        <div class="footer-col">
            <h4>Compañía</h4>
            <ul>
                <li><a>Sobre nosotros</a></li>
                <li><a>Nuestros servicios</a></li>
                <li><a>Política de privacidad</a></li>
                <li><a>Trabaja con nosotros</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Ayuda</h4>
            <ul>
                <li><a>FAQ</a></li>
                <li><a>Creadores de Contenido</a></li>
                <li><a>Soporte</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>síguenos</h4>
            <div class="social-links">
                <a
                    ><i><fa-icon [icon]="icon_facebook"></fa-icon></i
                ></a>
                <a
                    ><i><fa-icon [icon]="icon_twitter"></fa-icon></i
                ></a>
                <a
                    ><i><fa-icon [icon]="icon_whastapp"></fa-icon></i
                ></a>
            </div>
        </div>
    </tbody>
</footer>
