<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title> Crear Usuario de Prueba | LDLN </title>
  <link rel="stylesheet" type="text/css" href="crear-canal.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>
<body>

<div class="contenedor">

  <div class="forms">

    <div class="form-content">

      <div class="signup-form">

        <div class="titulo">Registrar Canal</div>

        <form name="form" id="form" (ngSubmit)="crearCanal()">

          <div class="input-boxes">

            <div class="input-box">
              <input type="text" id="nombre" name="nombre" placeholder="Nombre" [(ngModel)]="canal.nombre"  required>
            </div>

            <div class="input-box">
              <input type="text" name="apellidos" id="apellidos" placeholder="Apellidos" [(ngModel)]="canal.apellidos"  required>
            </div>

            <div class="input-box">
              <input type="text" name="nombre_canal" id="nombre_canal" placeholder="Nombre del Canal" [(ngModel)]="canal.nombre_canal"  required>
            </div>

            <div class="input-box">
              <input type="text" name="telefono" id="telefono" placeholder="Telefono" [(ngModel)]="canal.telefono"  required>
            </div>

            <div class="input-box">
              <input type="text" name="telefono" id="telefono" placeholder="Telefono" [(ngModel)]="canal.telefono"  required>
            </div>

            <div class="input-box">
              <input type="date" name="fecha_nacimiento" id="fecha_nacimiento" placeholder="Fecha de Nacimiento" [(ngModel)]="canal.fecha_nacimiento"  required>
            </div>

            <div class="input-box">
              <select multiple size="8">
                <option value="Programacion">American flamingo</option>
                <option value="Andean">Andean flamingo</option>
                <option value="Chilean">Chilean flamingo</option>
                <option value="Greater">Greater flamingo</option>
                <option value="James's">James's flamingo</option>
                <option value="Lesser">Lesser flamingo</option>
              </select>
            </div>

            <div class="boton input-box">
              <input type="submit" value="Continuar">
            </div>



          </div>

        </form>

      </div>

    </div>

  </div>

</div>

</body>
</html>
