<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title> Crear Usuario de Prueba | LDLN </title>
  <link rel="stylesheet" type="text/css" href="registro.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>
<body>

<app-header></app-header>

<div class="contenedor">

  <div class="forms">

    <div class="form-content">

      <div class="signup-form">

        <div class="titulo">Registrar</div>

        <form name="form" id="form" (ngSubmit)="crearUsuario()">

          <div class="input-boxes">

            <div class="input-box">
              <input type="text" id="username" name="username" placeholder="Usuario" [(ngModel)]="usuario.username"  required>
            </div>

            <div class="input-box">
              <input type="email" name="email" id="email" placeholder="Email" [(ngModel)]="usuario.email"  required>
            </div>

            <div class="input-box">
              <input type="password" name="password" id="password" placeholder="Contraseña" [(ngModel)]="usuario.password"  required>
            </div>

            <h4>¿A que comunidad autonoma perteneces?</h4>

            <div class="input-box">
              <select type="text" name="comunidad_autonoma" id="comunidad_autonoma" placeholder="Comunidad Autonoma" [(ngModel)]="usuario.comunidad_autonoma"  required>

                <option value="Andalucia">Andalucía</option>
                <option value="Aragón">Aragón</option>
                <option value="Asturias">Asturias</option>
                <option value="Islas Baleares">Islas Baleares</option>
                <option value="Canarias">Canarias</option>
                <option value="Cantabria">Cantabria</option>
                <option value="Castilla y León">Castilla y León</option>
                <option value="Castilla-La Mancha">Castilla-La Mancha</option>
                <option value="Cataluña (Catalunya)">Cataluña (Catalunya)</option>
                <option value="Extremadura">Extremadura</option>
                <option value="Galicia">Galicia</option>
                <option value="Madrid">Madrid</option>
                <option value="Murcia">Murcia</option>
                <option value="Navarra">Navarra</option>
                <option value="País Vasco (Euskadi)">País Vasco (Euskadi)</option>
                <option value="La Rioja">La Rioja</option>
                <option value="Comunidad Valenciana">Comunidad Valenciana</option>



              </select>
            </div>

            <div class="boton input-box">
              <input type="submit" value="Continuar">
            </div>

          </div>

        </form>

      </div>

    </div>

  </div>

</div>

</body>

<app-footer></app-footer>

</html>
