<div class="header" *ngIf="token !=''">

  <a class="img_header">

    <a href="apollo/inicio_log">
      <img class="imagen_logo" src="assets/img/Logo_Apollo_con_Nombre.png"/>
    </a>

  </a>
  <div class="dispo_botones">

    <div class="buscador">
      <button class="lupa" (click)="abrirBuscador()"><i><fa-icon [icon]="icon_lupa"></fa-icon></i></button>

      <button class="logout-button" *ngIf="token !=''" (click)="logout()">Cerrar Sesión</button>

    </div>

    <app-notificaciones></app-notificaciones>

    <div class="dropdown">

      <a class="btn_user">
        <img *ngIf="usuario.foto != 'valor_predeterminado'" class="imagen_user" src="{{usuario.foto}}"/>
        <img *ngIf="usuario.foto == 'valor_predeterminado'" class="imagen_user" src="assets/img/user_default.png"/>
      </a>

      <div class="desplegable">
        <a href="/apollo/perfil/datos">Mi perfil</a>
        <div *ngIf="canal && canal.id"><a href="/apollo/canal/{{ canal.id }}">Mi canal</a></div>
        <mat-dialog-actions>
          <button mat-raised-button (click)="abrirHistorialBusqueda()" class="btn_desplegable">Historial búsquedas</button>
        </mat-dialog-actions>
        <mat-dialog-actions>
          <button mat-raised-button (click)="abrirHistorialVideos()" class="btn_desplegable">Historial videos</button>
        </mat-dialog-actions>
      </div>

    </div>


  </div>

</div>
