<div class="header">
    <a class="img_header">
      <img class="imagen_logo" src="assets/img/LogoApollo.png"/>
    </a>
    <div class="dispo_botones">
        <div class="buscador">
            <input class="lupa_text" type="text" />
            <button class="lupa">
                <i><fa-icon [icon]="icon_lupa"></fa-icon></i>
            </button>
        </div>
        <a class="btn_header"
            ><i
                ><fa-icon
                    [icon]="icon_notificacion"
                    class="btn_header"
                ></fa-icon></i
        ></a>
        <a class="btn_header"
            ><i><fa-icon [icon]="icon_camera" class="btn_header"></fa-icon></i
        ></a>
        <a class="btn_user"
            ><img class="imagen_user" src="assets/img/user_default.png"
        /></a>
    </div>
</div>
