
<body>

<div class="navbar">
  <li class="logo"><a href="#"><img src="../../../assets/img/logoApolloSinBG.png"></a></li>
  <a class="buttons" href="login">Login</a>

</div>
<div class="main">
  <div class="area">
    <h1>Vídeos ilimitados, canales <br>entretenimiento, y más.</h1>
    <h3>En cualquier lugar.
    </h3>

    <div class="search">
      <input type="text" class="box" placeholder="Email">
      <span class="try">
        <a href="registro" class="texto">Registrate</a>
      </span>
    </div>

    <h4>Preparado para entrar en nuestra galaxia? Ingresa un correo para comenzar el registro o logeate.
    </h4>


  </div>

</div>
<div class="container1">
  <div class="text">
    <h1>Disfrutalo en la TV.
    </h1>
    <p>
      Miralo en Smart TVs, Playstation, Xbox, <br>
      Chromecast, Apple TV, Blu-ray players, y<br>
      mas.
    </p>
  </div>
  <div class="image">
    <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png">
  </div>
</div>

<div class="container1">
  <div class="text">
    <h1>Watch everywhere.

    </h1>
    <p>
      Observa los vídeos de la plataforma en cualquier lugar y en distintos dispositivos<br>Tu telefono, tablet, laptop, y TV.

    </p>
  </div>
  <div class="image">
    <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile.png">
  </div>
</div>
<div class="question">
  <h1>Preguntas frecuentes
  </h1>
  <div class="quest">
    <a class="textbox">Que es Apollo?</a>
    <i class="las la-plus"></i>
  </div>
  <div class="quest">
    <a class="textbox">Cuanto cuesta usar nuestra plataforma?</a>
    <i class="las la-plus"></i>
  </div>
  <div class="quest">
    <a class="textbox">Donde puedo ver el contenido?</a>
    <i class="las la-plus"></i>
  </div>
  <div class="quest">
  <a class="textbox">Es gratis?</a>
  <i class="las la-plus"></i>
</div>
  <div class="quest">
    <a class="textbox">Que puedo ver en Apollo?</a>
    <i class="las la-plus"></i>
  </div>

  <div class="search1">
    <input type="text" class="box1" placeholder="Email">
    <span class="try1">Registrate <i class="fas fa-chevron-right"></i></span>
  </div>
  <h4>Preparado para entrar en nuestra galaxia? Ingresa un correo para comenzar el registro o logeate.
  </h4>
</div>
<div class="footer">


  <div class="footercon">
    <div class="flex1">
      <h5>Questions? Call 1-866-579-7172
      </h5>
      <h5>
      </h5>
    </div>

    <ul class="list1">

      <li><a href="">FAQ</a></li>
      <li><a href="">Investor Relation</a></li>
      <li><a href="">Ways to Watch</a></li>

      <li><a href="">Corporate Information</a></li>
      <li><a href="">Netflix Originals</a></li>
    </ul>
    <ul class="list1">
      <li><a href="">Home</a></li>
      <li><a href="">Jobs</a></li>
      <li><a href="">Terms of Use</a></li>
      <li><a href="">Contact Us</a></li>
      <li><a href="">#</a></li>
    </ul>
    <ul class="list1">
      <li><a href="">Account</a></li>
      <li><a href="">Redeem Gift Cards</a></li>
      <li><a href="">Privacy</a></li>
      <li><a href="">Speed Test</a></li>
      <li><a href="">#</a></li>

    </ul>
    <ul class="list1">
      <li><a href="">Media Center<</a></li>
      <li><a href="">Buy Gift Cards</a></li>
      <li><a href="">Cookie Preferences</a></li>
      <li><a href="">Legal Notices</a></li>
      <li><a href="">#</a></li>

    </ul>

  </div>

</div>
<div class="end">
  <h2>
    Apollo LDLN
  </h2>
  <h2>
  </h2>
</div>
</body>
