
<body>

<app-header></app-header>

<div class="main">
  <div class="area">
    <h1>Vídeos ilimitados, canales <br>entretenimiento, y más.</h1><br>
    <h3>En cualquier lugar.
    </h3>

    <div class="search">
      <input type="text" class="box" placeholder="Email">
      <span class="try">
        <a href="apollo/registro" class="texto">Registrate</a>


      </span>
    </div>
    <h4>Preparado para entrar en nuestra galaxia? Ingresa un correo para comenzar el registro o logeate.
    </h4>
  </div>

</div>
<div class="container1">
  <div class="text">
    <h1>Disfrutalo en la TV.
    </h1>
    <p>
      Miralo en Smart TVs, Playstation, Xbox, <br>
      Chromecast, Apple TV, Blu-ray players, y<br>
      mas.
    </p>
  </div>
  <div class="image">
    <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png">
  </div>
</div>

<div class="container1">
  <div class="text">
    <h1>Watch everywhere.

    </h1>
    <p>
      Observa los vídeos de la plataforma en cualquier lugar y en distintos dispositivos<br>Tu telefono, tablet, laptop, y TV.

    </p>
  </div>
  <div class="image">
    <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile.png">
  </div>
</div>
<div class="question">
  <h1>Preguntas frecuentes
  </h1>
  <div class="quest">
    <a class="textbox">Que es Apollo?</a>
    <i class="las la-plus"></i>
  </div>
  <div class="quest">
    <a class="textbox">Cuanto cuesta usar nuestra plataforma?</a>
    <i class="las la-plus"></i>
  </div>
  <div class="quest">
    <a class="textbox">Donde puedo ver el contenido?</a>
    <i class="las la-plus"></i>
  </div>
  <div class="quest">
  <a class="textbox">Es gratis?</a>
  <i class="las la-plus"></i>
</div>
  <div class="quest">
    <a class="textbox">Que puedo ver en Apollo?</a>
    <i class="las la-plus"></i>
  </div>


</div>

<app-footer></app-footer>

</body>
