.area {
  text-align: center;
  margin-top: 20px; /* Ajusta el margen superior según tus preferencias */
}

.area h1 {
  font-size: 2.5rem;
  line-height: 1.5;
  color: #3366cc; /* Cambia el color del texto principal según tus preferencias */
  margin-bottom: 10px; /* Ajusta el margen inferior según tus preferencias */
}

.area h3 {
  font-size: 1.2rem;
  margin-top: 10px;
}

.box {
  width: 80%; /* Ajusta el ancho del contenedor según tus preferencias */
  max-width: 400px; /* Ajusta el ancho máximo según tus preferencias */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 15px;
  background-color: #f4f4f4; /* Cambia el color de fondo según tus preferencias */
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.try {
  display: inline-block;
  background-color: #4B0082;
  padding: 10px 20px;
  margin-top: 20px; /* Ajusta el margen superior según tus preferencias */
  text-decoration: none;
  color: white;
  border-radius: 3px;
  transition: background-color 0.3s; /* Agrega una transición suave al cambio de color */
}

.try:hover {
  background-color: #2a0059;
}

.logo_nav{

  width: 150px;
}
navbar{}
