<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi Perfil</title>
  <link rel="stylesheet" href="mi-perfil.component.css">
  <!-- Agrega el enlace a tu archivo de estilos CSS aquí -->
</head>
<body>

<app-header></app-header>

<div class="main">
  <div class="area">

    <h1>Bienvenido, {{usuario.username}}!</h1>

    <div class="box">
      <img src="{{usuario.foto}}" alt="Foto personal">
      <h3>TUS DATOS</h3>
      <p>Correo Electrónico: {{usuario.email}}</p>
      <p>Ubicación: {{ usuario.comunidadAutonoma }}</p>
      <p *ngIf="canal.id != null" >Fecha de Nacimiento: {{ canal.fecha_nacimiento }}</p>
    </div>

    <div class="action-buttons">
      <a href="/apollo/usuario/editar/{{usuario.id}}">Editar Perfil</a>

      <ng-container *ngIf="canal.id == null">
        <h3>¿Quieres crearte un canal?</h3>
        <a href="/apollo/canal/crear">Crear Canal</a>
      </ng-container>

      <ng-container *ngIf="canal.id != null">
        <a href="/apollo/canal/{{canal.id}}">Ir a tu Canal</a>
      </ng-container>
    </div>

  </div>
</div>

<app-footer></app-footer>

</body>
</html>
