<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi Perfil</title>
  <link rel="stylesheet" href="mi-perfil.component.css">
  <!-- Agrega el enlace a tu archivo de estilos CSS aquí -->
</head>
<body>

<div class="navbar">
  <div class="logo">
    <img class="logo_nav" src="/assets/img/logoApolloSinBG.png" alt="Logo">
  </div>
</div>

<div class="main">
  <div class="area">
    <h1>Hola! {{usuario.username}}</h1>
    <h3>TUS DATOS</h3>
    <div class="box">
      <p>Correo Electrónico: usuario@example.com</p>
      <p>Ubicación: Ciudad, País</p>
      <p>Fecha de Nacimiento: DD/MM/AAAA</p>

    </div>

    <h3>¿Quieres crearte un canal?</h3>

    <a href="/apollo/canal/crear">Vamos!</a>

  </div>

</div>

<!-- Agrega más secciones o contenido según sea necesario -->

<footer>
  <!-- Contenido del footer -->
</footer>

</body>
</html>
