<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi Perfil</title>
  <link rel="stylesheet" href="mi-perfil.component.css">
  <!-- Agrega el enlace a tu archivo de estilos CSS aquí -->
</head>
<body>

<app-header></app-header>

<div class="main">
  <div class="area">

    <h1>Hola! {{usuario.username}}</h1>

    <h3>TUS DATOS</h3>

    <div class="box">

      <p>Correo Electrónico: {{usuario.email}}</p>
      <p>Ubicación: {{ usuario.comunidad_autonoma }}</p>
      <p *ngIf="canal.id == 0" >Fecha de Nacimiento: {{ canal.fecha_nacimiento }}</p>

    </div>

    <h3 *ngIf="canal.id == 0">¿Quieres crearte un canal?</h3>

    <a *ngIf="canal.id == 0" href="/apollo/canal/crear">Vamos!</a>

    <a *ngIf="canal.id != 0" href="/apollo/canal/{{canal.id}}">Vamos a tu canal {{usuario.username}}!</a>


  </div>

</div>

<app-footer></app-footer>

</body>
</html>
