<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="video.component.css">
  <title>Video - Apollo LDLN</title>
</head>

<body>

<app-header></app-header>

  <div id="container">

    <div class="bloque1">

      <div class="ratio ratio-16x9" #demoYouTubePlayer>
        <youtube-player *ngIf="video"
                        videoId="{{ obtenerIdDeVideo(video.url) }}"
                        suggestedQuality="highres"
                        [height]="videoHeight"
                        [width]="videoWidth"
                        [startSeconds]="0">
        </youtube-player>
      </div>

      <div id="details" *ngIf="video">
        <h2>{{ video.titulo }}</h2>
        <p>{{ video.descripcion }}</p>
      </div>

    </div>

    <div class="bloque2">

      <div id="recommended">
        <ul>
          <li *ngFor="let video of videosRecomendados">

            <a routerLink="/apollo/video/{{video.id}}">
              <div class="ratio ratio-16x9 videochico" #demoYouTubePlayer>
                <youtube-player
                  videoId="{{ obtenerIdDeVideo(video.url) }}"
                  suggestedQuality="highres"
                  [height]="150"
                  [width]="250"
                  [startSeconds]="0">
                </youtube-player>
              </div>

            </a>

          </li>

        </ul>

      </div>

    </div>

  </div>

</body>

</html>
