<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="video.component.css">
  <title>Video - Apollo LDLN</title>
</head>

<body>

<app-header></app-header>

  <div id="container">

    <div class="bloque1">

      <div class="ratio ratio-16x9" #demoYouTubePlayer>
        <youtube-player *ngIf="video"
                        videoId="{{ obtenerIdDeVideo(video.url) }}"
                        suggestedQuality="highres"
                        [height]="videoHeight"
                        [width]="videoWidth"
                        [startSeconds]="0">
        </youtube-player>
      </div>

      <div id="details" *ngIf="video">

        <div class="titulo_canal">

          <h1>{{ video.titulo }}</h1>

          <div id="info_canal">

            <div class="info_canal1">

              <div id="imagen_canal">
                <img class="imagen_user" src="assets/img/user_default.png">
              </div>

              <div class="nombre_canal_suscripciones">
                <a href="apollo/canal/{{video.canal.id}}">
                  <h4>{{video.canal.nombreCanal}}</h4>
                </a>

                <p *ngIf="suscriptores.suscriptores == 1">{{suscriptores.suscriptores}} suscriptor</p>
                <p *ngIf="suscriptores.suscriptores != 1">{{suscriptores.suscriptores}} suscriptores</p>

              </div>

              <button class="suscribirse">Suscribirme</button>

            </div>

            <div class="botones_likes">

              <div class="like_dislike">
                <button class="like">Like</button>
                <button class="dislike">Dislike</button>
              </div>

              <button class="compartir">Compartir</button>
              <button class="guardar">Guardar</button>

            </div>

          </div>

        </div>

        <div class="descripcion">
          <p>{{ formatearFecha(video.fechaPublicacion) }}</p>
          <p id="descripcion">{{ video.descripcion }}</p>
        </div>

        <button id="verMas" (click)="verMas()">Ver más</button>

        <div class="comentarios">

          <h3>{{comentarios.length}} comentarios</h3>

          <form name="form" id="form" (ngSubmit)="enviarComentario()">

            <input type="text" name="texto" id="texto" placeholder="Comentario" [(ngModel)]="comentario.texto" required>

            <button id="boton" type="submit">Comentar</button>

          </form>

          <div id="comentario" *ngFor="let c of comentarios">

            <img src="assets/img/user_default.png">

            <div class="nombretexto">

              <div class="username">
                @{{ c.usuario.username }}
                {{ c.fechaPublicacion }}
              </div>
              <div class="texto">
                {{ c.texto }}
              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

    <div class="bloque2">

      <div id="recommended">

        <ul class="recomendado">

          <li *ngFor="let v of videosRecomendados">

            <a *ngIf="v.id != video.id" href="/apollo/video/{{v.id}}">

              <div class="containerv">

                <div class="image">
                  <img src="{{ v.miniatura }}">
                </div>

                <div class="content">
                  <h4>{{v.titulo}}</h4>
                  <p>{{v.nombre_canal}}</p>
                </div>

              </div>

            </a>

          </li>

        </ul>

      </div>

    </div>

  </div>

</body>

</html>
