/* Reset de estilos y estilos globales */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

#container {
  display: flex;
  justify-content: space-between;
}

#recommended {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  height: 500px; /* Altura fija para el área de videos recomendados */
}

#details {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.bloque1{

  margin: 50px 20px;

}

.bloque2{

  width: 500px;

}
