<div class="container">
<div *ngIf="canal_loggeado.id != canal.id; else tusVideos">
  <div *ngIf="lista_videos && lista_videos.length != 0; else sinVideos">
    <div *ngIf="canal.nombreCanal">
    <h1 class="heading">Todos los videos de {{canal.nombreCanal}}</h1>
    </div>

    <div class="gallery">

      <div class="videos">
        <div *ngFor="let v of lista_videos" class="video">
          <a routerLink="/apollo/video/{{v.id}}" class="card" [style.background-image]="'url(' + v.miniatura + ')'">
            <div class="thumbnail">
              <!-- Miniatura del video -->
            </div>
            <div class="info">
              <div class="title">{{v.titulo}}</div>
              <div class="category" routerLink="/apollo/canal/{{v.id_canal}}">
                {{v.nombre_canal}}
                <i class="fas fa-film"></i>
              </div>
              <div class="views">
                Fecha: {{v.fecha}}
                <i class="far fa-eye"></i>
              </div>
            </div>
            <div class="buttons" *ngIf="canal_loggeado.id == canal.id">
              <button class="edit-button" (click)="editarVideo(v.id)">Editar</button>
              <button class="delete-button" (click)="eliminarVideo(v.id)">Eliminar</button>
            </div>
          </a>
        </div>
      </div>

    </div>

  </div>

  <ng-template #sinVideos>
    <div *ngIf="canal.nombreCanal">
      <h1 class="heading">¡Lo sentimos!<span>{{canal.nombreCanal}} aún no ha subido ningún video</span></h1>
    </div>
  </ng-template>
</div>


  <ng-template #tusVideos>
    <div *ngIf="lista_videos.length != 0; else sinVideos">
      <div *ngIf="canal.nombreCanal">
        <h1 class="heading">Todos los videos de tu canal</h1>
      </div>

      <div class="gallery">

        <div class="gallery-item" *ngFor="let video of lista_videos">

          <div class="gallery-image">
            <a class="tarjeta" routerLink="/apollo/video/{{video.id}}">
              <img src="{{video.miniatura}}">
            </a>
          </div>

        </div>

      </div>

    </div>

    <ng-template #sinVideos>
      <div *ngIf="canal.nombreCanal">
        <h1 class="heading">Aún no has subido ningún video</h1>
      </div>
    </ng-template>
  </ng-template>

</div>
