

<div class="pagina_entera">
  <app-header></app-header>
  <div *ngIf="lista_busqueda_canales?.length != 0 || lista_busqueda_video?.length != 0; else sinResultados" class="centrar">
    <h2>Tus resultados para "{{busqueda}}" son:</h2>
    <div class="contain">

      <div class="resultado_canales" [ngClass]="{'border-canal': lista_busqueda_canales?.length > lista_busqueda_video?.length}">

        <div class="canales" *ngIf="lista_busqueda_canales?.length != 0; else sinCanales">

          <div *ngFor="let canal of lista_busqueda_canales">

            <a class="texto_videos" href="apollo/canal/{{canal.id}}">
              <img src="{{canal.foto}}" class="imagen_canal">
              <h3>{{canal.nombre_canal}}</h3>
            </a>
          </div>

        </div>

        <ng-template #sinCanales>
          <h2>No se han obtenidos canales para tu busqueda.</h2>
        </ng-template>
      </div>

      <div class="resultado_videos" [ngClass]="{'border-videos': lista_busqueda_canales?.length < lista_busqueda_video?.length}">
        <div class="wepaaa" *ngIf="lista_busqueda_video?.length != 0; else sinVideos">

          <div class="videos" *ngFor="let video of lista_busqueda_video">
            <a class="videos2" href="apollo/video/{{video.id}}">
              <img src="{{video.miniatura}}" class="imagen_video">
              <h3>{{video.titulo}}</h3>
            </a>
          </div>
        </div>

        <ng-template #sinVideos>
          <h2>No se han obtenidos videos para tu busqueda.</h2>
        </ng-template>
      </div>

    </div>

  </div>
  <ng-template #sinResultados>
    <div class="sin_result"><h2>Su búsqueda "{{busqueda}}" no ha obtenido ningún resultado</h2></div>
  </ng-template>
  <app-footer class="footer"></app-footer>
</div>
