<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="login-usuario.component.css">
  <title>Login - Apollo LDLN</title>
</head>

<body>

<div class="navbar">
  <li class="logo"><a href="#"><img src="../../../assets/img/LogoApollo.png" alt="Apollo Logo"></a></li>

</div>


<div class="login-container">
  <form class="login-form" (submit)="inciarSesion()">
    <h2>Login</h2>
    <input id="username" name="username" type="text" placeholder="Usuario" [(ngModel)]="usuario.username" required>
    <input id="password" name="password" type="password" placeholder="Contraseña" [(ngModel)]="usuario.password" required>
    <button type="submit">Iniciar sesión</button>
  </form>
</div>


</body>

</html>

